<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body style="background-color: #7D5CD7;">

    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div id="logo" style="display:flex; justify-content: center;">
                    <img src="/img/logo.svg" alt="Amamenta Coach">
                </div>
                <div class="card card-signin my-2">
                    <div class="card-body">
                        <h2>Olá, <%=mae.nome%></h2>
                        <h5>Email:<%=mae.email%></h2>
                        <h5>Digite uma nova senha para recuperar o acesso ao Amamenta Coach.</h5>
                        <form class="form-signin" id="form-login" method="post">
                            <div class="form-group">
                                <input type="password" id="senha" name="senha" class="form-control" placeholder="Digite sua nova senha" required autofocus>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" style="background-color: #7D5CD7;border-color: #7D5CD7;" type="submit" id="submit-login">
                                Salvar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
